# =========================
# Secrets / WiFi
# =========================
wifi.h
config.h
secrets.h

# =========================
# Arduino / ESP8266 build
# =========================
*.elf
*.bin
*.hex
*.map
*.o
*.d

build/
.pio/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db